<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<div class="section m-2">
    {% if warnings %}
    <div class="warnings block">
        {% for warning in warnings %}
        <div class="box" style="background-color: {{ warning.level }}">
            <div class="columns">
                <div class="column">
                    <p><b>{{warning.headline}}</b></p>
                    <p>From: {{ warning.onset.strftime("%-d %B, %H:%M") }}</p>
                    <p>To: {{ warning.expiry.strftime("%-d %B, %H:%M") }}</p>
                </div>
                <div class="column">
                    <p>{{warning.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="moon block">
        <h1 class="subtitle">Moon Phase</h1>
        <p>{{ moon_phase }}</p>
    </div>
    {% for location in locations %}
    <div class="report block">
        <h1 class="subtitle">{{location.name}}</h1>
        <table class="table">
            {% for header, contents in location.rows %}
            <tr>
                <th>{{header}}</th>
                {% for row in contents %}
                <td>{{row}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
</body>
</html>