certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
Jinja2==3.1.4
MarkupSafe==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
types-python-dateutil==2.9.0.20241003
urllib3==2.2.3
xmltodict==0.13.0
