<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<body>
<div class="section m-2">
    {% if warnings %}
    <div class="warnings block">
        {% for warning in warnings %}
        <div class="box" style="background-color: {{ warning.level }}">
            <div class="columns">
                <div class="column">
                    <p><b>{{warning.headline}}</b></p>
                    <p>From: {{ warning.onset.strftime("%-d %B, %H:%M") }}</p>
                    <p>To: {{ warning.expiry.strftime("%-d %B, %H:%M") }}</p>
                </div>
                <div class="column content">
                    <p>{{warning.text_description}}</p>
                    <ul class="list">
                        {% for impact in warning.impacts %}
                        <li class="list-item">{{ impact }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="moon block">
        <h1 class="subtitle">Moon Phase</h1>
        <p>{{ moon_phase }}</p>
    </div>
    {% for location in locations %}
    <div class="report block">
        <h1 class="subtitle">{{location.name}}</h1>
        <table class="table">
            {% for header, contents in location.rows %}
            <tr>
                <th>{{header}}</th>
                {% for row in contents %}
                <td>{{row}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
    <div class="legal block">
        <h1 class="subtitle">Legal</h1>
        <div class="list">
            <div class="list-item">Copyright Met Éireann</div>
            <div class="list-item">Source <a href="https://www.met.ie/">www.met.ie</a></div>
            <div class="list-item">This data is published under a Creative Commons Attribution 4.0
                International (CC BY 4.0). <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a>
            </div>
            <div class="list-item">Met Éireann does not accept any liability whatsoever for any error or
                omission in the
                data,
                their availability, or for any loss or damage arising from their use.
            </div>
            <div class="list-item">This material has been modified from the original</div>
        </div>
    </div>
</div>
</body>
</html>